
.mera{
  text-align: center;
  padding-top: 15%;
}
.footer-padding{
  text-align: center;
  padding-top: 5%;
}
.footer{
  text-align: center;
}
.left{
  padding-left: 5%;
}

.headinghai{
  font-size: 200;
}
